


.logo{
  display: inline-block;
  width: 50px;
  height: 50px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;

}

.size_img{
  width:400px;

}

.background_updated{

	background-color:white;
}

.table_update{
	font-family:initial;
    font-size: 17px;
    background-color: transparent;
    color:black;
}